#main {
    /* max-width: 80%;
    margin: auto; */
    /* background:#64B5F6; */
    font-size: 16px;
    /* background-image: url('../images/logo.png');  */
}

#title {
    /* width: 80%; */
    margin-left: auto;
    margin-right: auto;
}
.row {
  margin-left: 0px;
}

/* #bibleLogo {
  margin-le
} */

#confirmMessage { 
  display: inline;
  font-weight: bold;
  font-size: 20px;
  color: #007bff;
}

/* #chapterSelect {
  margin-left: 15px;
} */

#content{
  /* display:none; */
  /* background:#0D47A1; */
}

table {
  display: none;
  /* margin: 10px; */
}

button {
  margin: 4px 2px 4px 0px;
}

table, th, td {
  /* border: 1px solid black; */
  /* border-collapse: collapse; */
  padding: 15px;
  border-spacing: 5px;
}

h2 { 
  font-weight:normal; 
}

#logTitle {
  height: 50px;
  box-shadow: none; 
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
}

textarea {
  margin: 2px 1px 2px 0px;
  /* padding-bottom: 800px; */
  /* padding-top: 400px; */
  height: 100px;
}

#customText {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}

[contentEditable=true]:empty:before{
  content:attr(data-text)
}

/*
textarea{
  background: url('../images/bible.jpeg') center center no-repeat; This ruins default border
  width: 65%;
  height: 270px;
  font-size:15pt;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #008CBA; 
}
*/


select.form-control {
 /* border: 1px solid #008CBA; */
 /* font-size: 16px; */
 height: 40px;
 /* width: 15%; */
 font-weight: bold;
  /* margin: 8px; */
 /* margin-top: 3px;
 margin-bottom: 3px;
 margin-right: 3px; */
 /* display: inline-block;  */
 /* margin-right: 10px; */
 /* padding: 2px 10px; */
 /* margin: 4px 8px 4px 0px; */
  /* background: rgba(23, 32, 161, 0.945); */
}

label {
  /* margin: 6px;  */
  padding-bottom: 6px; 
  /* text-align:center; */
  /* vertical-align:middle;  */
  /* display:table-cell; */
  line-height:38px;
}
/* 
input {
  font-size:15pt;
  height: 45px;
  margin-top: 2px;
  padding-left: 2px;
  margin-bottom: 5px;
  border: 1px solid #008CBA;
} */

/* #currentReferences {
  width: 15%;
  height: 270px;
  font-size:15pt;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #008CBA; 
} */

